@import "tailwindcss";

@layer base {
  :root {
    /* exact Figma palette */
    --bg-main: #0f0f11;
    --bg-card: #1b1b1d;
    --bg-hover: #232326;

    --border-red: #ff3b30;
    --border-orange: #ff9500;
    --border-blue: #007aff;
    --border-yellow: #ffd60a;
  }

  html,
  body,
  #__next {
    height: 100%;
    background: var(--bg-main);
    color: #ffffff;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  }
}

@layer components {
}
